
/*
COLORS
#6F1D1B - Persian Plum
#BB9457 - Camel
#432818 - Bistre
#99582A - Windsor Tan
#FFE6A7 - Banana Mania
*/

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: runescape, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
	font-size: 1.2em;
}

@font-face {
	font-family: runescape;
	src: url('./fonts/runescape_uf.ttf') format('truetype');
	src: url('./fonts/runescape_uf.woff') format('woff');
}

.App {
	text-align: center;
	background-color: #99582A;
	min-height:  100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FFE6A7;
	font-family: runescape, monospace;
}

.App-header {
	font-size: calc(10px + 5vmin);
}

.checklist {
	display: flex;
	flex-direction: row;
	border-radius:  1em;
	border: 2px solid #6F1D1B;
	padding:  1.5em;
	margin-right: 2em;
}

.checklist h2 {
	font-weight: normal;
	margin-top: .2em;
	margin-bottom: .5em;
}
.checklist input {
	cursor: pointer;
}
.checklist label {
	cursor: pointer;
	user-select: none;
}

.text-input {
	padding:  2em;
}

.text-input input {
	font-size: 4vmin;
	font-family: runescape, monospace;
	padding:  2vmin;
	line-height: 100%;
	border-radius: 1vmin;
	border:  none;
	background: #432818;
	color:  #FFE6A7;
	width: 45vw;
	caret-color: #FFE6A7;
}

.text-input input::placeholder {
	color: #BB9457;
}
.text-input input:focus {
	border: none;
	outline-width: 0;
}

.response-display {
	border-radius:  1em;
	border: 2px solid #432818;
	min-height: 10vh;
	min-width: 45vw;
	display:  flex;
	flex-direction: column;
	align-items: center;
	background: #BB9457;
	color: #432818;
}

.response-display h3{
	float:  left;
	display:  block;
	margin-top: 0.5em;
	margin-left: 0.5em;
	align-self: flex-start;
	font-weight: normal;
	cursor: pointer;
	user-select: none;
}

.response-display img{
	display:  block;
	image-rendering: pixelated;
	object-fit: contain;
	max-width: 45vw;
	max-height: 10vw;
	cursor: pointer;
}

.response-display img.enlarged{
	width: 100%;
}